<nav class="navbar navbarx navbar-expand-lg navbar-dark">
  <div class="navcontainer">
    <a class="navbar-brand" href="#home">
      <img src="../../Africa_icon.png" class="icn" alt="nop"> <span>Gastrodiplomacy</span>
    </a>

    <!-- Hamburger icon visible on small screens -->
    <div class="hamburger" (click)="toggleMenu()">&#9776;</div>

    <div class="navbar-nav ms-auto" [class.active]="menuOpen">
      <a class="nav-link active" aria-current="page" href="#home">Home</a>
      <a class="nav-link" href="#Introduction">Introduction</a>
      <a class="nav-link" href="#jollofrice">Jollof rice</a>
      <a class="nav-link" href="#Savoring">Global Influence</a>
      <a class="nav-link" href="#Recipe">Recipe</a>
      <a class="nav-link" href="#Reference">Reference</a>
      <a class="nav-link" href="#Conclusion">Conclusion</a>
    </div>
  </div>
</nav>


  


  <div class="home">
    <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="home">
      <div class="section-head">
        <h1 class="textxx text-center">From Plate to Power:</h1>
      <p class="textxxx text-center">
        Gastrodiplomacy, Soft Power and the Cultural Currency/Asset of Jollof Rice in West Africa
      </p>
      </div>
  
    </section>
  </div>
  <section data-aos="zoom-in" class="container py-5 min-vh-100" id="Introduction">
    <div class="row ">
      <div class="col-md-6 col-sm-12">
        <h1 class="textxx text-start">Introduction</h1>
        <p class="introp">
        Food is more than flavor; it’s a language of power. Food isn’t just eaten; it’s negotiated, weaponized, and celebrated as cultural currency. In West Africa, dishes like Jollof rice tell stories of togetherness, national pride, friendly rivalry, and global ambition. Gastrodiplomacy is how nations wield cuisine to build influence, from embassy dinners where friendship with the host notion and a positive image are sealed over shared meals to viral Twitter wars over whose Jollof reigns supreme. All those constitute a cultural influence or appeal classified as soft power. 
        </p>
        <br>
        <p class="introp">Explore the intersection between  Gastrodiplomacy, West Africa’s cuisine, and Soft power.</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <img class="introimg" src="../../assets/img/processed-image.png" alt="intro img">
      </div>
    </div>
    <button 
  class="btn btn-secondary w-100 fs-2 text-light" 
  onclick="window.open('https://drive.google.com/file/d/1ast6g595NQJTVrdmjdHA1mT05_xae68U/view?usp=sharing', '_blank')">
  PDF
</button>
  </section>
 
  <div class="jollofrice">
    <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="jollofrice">
      <div class="section-head">
        <h1 class="textxx text-center">Jollof Rice</h1>
      <p class="textxxx text-center">
        The Dish That Sparked Thousand Tweets
      </p>
      </div>
  
    </section>
  </div>  

  <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="jollofrice">
    <h1 class="textxx">Jollof rice </h1>
    <p class="fs-5">Discover the world of Jollof Rice, a famous cuisine which comes from Senegambian West Africa! Different cultures from Senegal, Ghana, Nigeria, and other places are brought together by Jollof Rice. Jollof rice is more than simply a food; it is an unofficial ambassador of soft power projection and an emblem of African culture.</p>
    <p class="fs-5">Explore how this tasty dish ignites conversations and feeds the intense "Jollof War" on social media, particularly between Ghana and Nigeria.</p>
    <span class="text-secondary">#JollofRice</span> <span class="text-secondary">#WestAfrica</span> <span class="text-secondary">#JollofWars</span> <span class="text-secondary">#JollofGate</span> 
    <div class="video-container">
      <iframe 
        width="560" 
        height="315" 
        src="https://drive.google.com/file/d/1QTEf1TnVHW7kxOumo9tU7PowYfc6nUk4/preview"
        frameborder="0" 
        allow="autoplay; encrypted-media" 
        allowfullscreen>
      </iframe>
    </div>
    
    
  </section>

  <div class="Recipe">
    <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="Recipe">
      <div class="section-head">
        <h1 class="textxx text-center">Recipe</h1>
      <p class="textxxx">
        Discover some Jollof rice variations!
      </p>
      </div>
    </section>
  </div>
  <section class="Recipe-description container pt-5 min-vh-100" data-aos="zoom-in">
    <div class="row gap-5">
      <div class="col-12">
        <p class="fs-3">The Jollof rice recipe is extremely diverse, as each West African country has its own variation, and the dish is very flexible to the point that anyone can add their personal touch to it. In every variety of the region, the primary components are still tomatoes, pepper, oil, and spices.</p>
        <span class="fs-2">In this section, we will talk about two variations.</span>
        <h3 class="h2 my-5">1-Ghana Jollof Variation</h3>
        <p class="fs-3">The particularity about Ghana Jollof is its colorfulness, flavor, texture, and aroma. Ghanaians tend to make their Jollof foundation stew less liquid and prepare the Jollof with heat instead of a lot of water because they dislike their rice being overly soft. So Ghana jollof is neither too hard or soft. 
          Ghana Jollof is typically served with coleslaw or a salad, paired with the well-known black chili sauce (called “shito”) or the green variation (called “Kpapishito”) that accompanied  every Ghanaian’s food. Pairing it with fried plantain in not uncommon 
          It goes well with chicken, beef, goat, sausage, gizzards or tilapia fish whether fried or grilled.  However, in the Ghanaian Assorted form of Jollof rice, some of the various proteins specified are diced and added to the Jollof rice pot five minutes before it is turned off the heat, along with chopped vegetables (green pepper, carrot, spring onion, etc.).
          The following recipe will be a standard version of Ghana Jollof.
          </p>
      </div>
      <div class="col-12">
        <img class="w-100 " src="../../assets/img/recipe/photo_2025-04-12_17-52-19.jpg" alt="recipe-1">
        <span class="fw-bold d-block my-4">Click the following YouTube link for more details:</span>
        <button class="btn btn-secondary w-100"><a 
          class="btn btn-secondary w-100 link-light text-center" 
          href="https://youtu.be/3XU4PNMzbQo" 
          target="_blank">
          Details
        </a></button>  
      </div>
      <div class="col-12">
        <h3 class="w-100">Notes:</h3>
        <div class="row align-items-center">
          <div class="col-md-6 col-sm-12 mb-2">
            <div class="col-md-12 col-sm-12 mb-2">
              <figure class="w-100 scale">
                <img class="w-100 radius" src="../../assets/img/recipe/photo_2025-04-12_17-52-31.jpg" alt="rNote1">
              </figure>
              <span class="p fw-bold">1-Black “Shito”</span>
            </div>
            
            <div class="col-md-12 col-sm-12 mb-2">
              <figure class="w-100 scale">
                <img class="w-100 radius" src="../../assets/img/recipe/photo_2025-04-12_17-52-25.jpg" alt="rNote3">
              </figure>
              <span class="p fw-bold">2-Fried plantain</span>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mb-2">
            <figure class="w-100 scale">
              <img class="w-100 radius" src="../../assets/img/recipe/photo_2025-04-12_17-52-30.jpg" alt="rNote2">
            </figure>
            <span class="p fw-bold">3-Green "Shito"</span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <h3 class="h2 my-5">2-Benin Jollof  Variation </h3>
        <p class="fs-3">Jollof rice is popularly known as “Riz au gras” in Benin. The difference with the Ghanaian variation is the fact that the stew base is a little more watery.</p>
        <p class="fs-3">It is typically consumed with “Jus,” a chopped onion stew or a combination of chopped onion and tomato stew. For people who can handle a lot of spiciness, they occasionally add ground seasoned pepper. Beninese people have preferences fried fish, turkey, and traditional cheeses called “Wagashi” or “Fromage Peulh,” but “Riz au gras”  can be served with any protein.</p>
        <p class="fs-3">During special occasions or celebrations, it can be accompanied with a potato salad known as “Hors d’oeuvre.”</p>
        <span class="fs-2 mt-5">Benin jollof recipe is very simple.</span>
      </div>
      <div class="col-12">
        <img class="w-100 " src="../../assets/img/recipe/photo_2025-04-12_17-52-22.jpg" alt="recipe-1">
        <span class="fw-bold d-block my-4">Video for reference: </span>
        <button class="btn btn-secondary w-100"><a class="link-light" href="https://youtu.be/OjdFrKic8AY?feature=shared" target="_blank">Details</a></button>  
      </div>
      <div class="col-12">
        <h3 class="w-100">Notes:</h3>
        <div class="row">
          <div class="col-md-6 col-sm-12 mb-2 fourimg">
            <figure class="w-100 scale">
              <img class="w-100 radius" src="../../assets/img/recipe/photo_2025-04-12_17-52-24.jpg" alt="rNote1">
            </figure>
            <span class="p fw-bold">1-“Wagashi”.</span>
          </div>
          <div class="col-md-6 col-sm-12 mb-2 fourimg">
            <figure class="w-100 scale">
              <img class="w-100 radius" src="../../assets/img/recipe/photo_2025-04-12_17-52-27.jpg" alt="rNote2">
            </figure>
            <span class="p fw-bold">2- “Jus de tomate et onion”</span>
          </div>
          <div class="col-md-6 col-sm-12 mb-2 fourimg">
            <figure class="w-100 scale">
              <img class="w-100 radius" src="../../assets/img/recipe/photo_2025-04-12_17-52-29.jpg" alt="rNote3">
            </figure>
            <span class="p fw-bold">3- Hors d’oeuvre</span>
          </div>
          <div class="col-md-6 col-sm-12 mb-2 fourimg">
            <figure class="w-100 scale">
              <img class="w-100 radius" src="../../assets/img/recipe/photo_2025-04-12_17-52-26.jpg" alt="rNote4">
            </figure>
            <span class="p fw-bold">4-Jus d’oignon</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="Reference mt-5">
    <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="Reference">
      <div class="section-head">
        <h1 class="textxx">References</h1>
      </div>
</section>
  </div>
  <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="Refs">
    <div class="refs">
      <h3 class="h2">Written Analysis.</h3> 

      <p class="mb-0">1- Adesina, A. (2017). PROJECTING NIGERIA’S SOFT POWER THROUGH CULINARY DIPLOMACY.</p> <a class="d-block mb-2" target="_blank" href="https://www.semanticscholar.org/paper/PROJECTING-NIGERIA%E2%80%99S-SOFT-POWER-THROUGH-CULINARY-Adesina/face6dbfa60435f6785082639ce38bd3f5710db6">https://www.semanticscholar.org/paper/PROJECTING-NIGERIA%E2%80%99S-SOFT-POWER-THROUGH-CULINARY-Adesina/face6dbfa60435f6785082639ce38bd3f5710db6</a> 
      
      <p class="mb-0">2-Alden B. (n.d.). The Greatest Jollof Rice: A West African Delight. Meals by Alden B.</p> <a class="d-block mb-2" target="_blank" href="https://mealsbyaldenb.com/the-greatest-jollof-rice-a-west-african-delight/">https://mealsbyaldenb.com/the-greatest-jollof-rice-a-west-african-delight/</a> 
      
      <p class="mb-0">3-Luša, Đana, and Ružica Jakešević. (2017). “The Role of Food in Diplomacy: Communicating and ‘Winning Hearts and Minds’ through Food.” Media Studies.</p> <a class="d-block mb-2" target="_blank" href="https://hrcak.srce.hr/ojs/index.php/medijske-studije/article/view/6454">https://hrcak.srce.hr/ojs/index.php/medijske-studije/article/view/6454</a> 
      
      <p class="mb-0">4-Nani, Samuel. (2023). The West African Social Media “Jollof Rice War”: Unintentional Projection of West African Culinary Soft Power. 10.4018/979-8-3693-0250-7.ch023.</p>  <a class="d-block mb-2" target="_blank" href="https://www.researchgate.net/publication/374562783">https://www.researchgate.net/publication/374562783</a>
      
      <p class="mb-0">5-Nirwandy, N., & Awang, A. A. (2014). Conceptualizing public diplomacy, social convention, and culinary: Engaging in gastrodiplomacy warfare for economic branding.</p> <a class="d-block mb-2" target="_blank" href="https://doi.org/10.1016/j.sbspro.2014.04.038">https://doi.org/10.1016/j.sbspro.2014.04.038</a>  
      
      <p class="mb-0">6-Sloley, P. (2021). Jollof Wars: Who does West Africa’s iconic rice dish best? BBC Travel.</p> <a class="d-block mb-2" target="_blank" href="https://www.bbc.com/travel/article/20210607-jollof-wars-who-does-west-africas-iconic-rice-dish-best">https://www.bbc.com/travel/article/20210607-jollof-wars-who-does-west-africas-iconic-rice-dish-best</a>  
      
      <p class="mb-0">7-Solley, F. (2015). Gastrodiplomacy as a Soft Power Tool to Enhance Nation Brand.</p> <a class="d-block mb-2" target="_blank" href="https://www.researchgate.net/publication/323732996_Gastrodiplomacy_Psychological_Persuasion_via_National_Cuisine">https://www.researchgate.net/publication/323732996_Gastrodiplomacy_Psychological_Persuasion_via_National_Cuisine</a>
      
      <p class="mb-0"> 8-Spence, C. (2016). Gastrodiplomacy: Assessing the role of food in decision-making. Flavour 5, 4.</p> <a class="d-block mb-2" target="_blank" href="https://doi.org/10.1186/s13411-016-0050-8">https://doi.org/10.1186/s13411-016-0050-8</a>

      <h3 class="h2">Recipes & Video.</h3>
      <p class="mb-0">1. Adam, H. (2017). A brief history of jollof rice: A West African favourite. The Culture Trip.</p> <a class="d-block mb-2" target="_blank" href="https://theculturetrip.com/africa/ghana/articles/a-brief-history-of-jollof-rice-a-west-african-favourite">https://theculturetrip.com/africa/ghana/articles/a-brief-history-of-jollof-rice-a-west-african-favourite</a>

      <p class="mb-0">2. Ezebuiro, P. (2016). Jollof rice war: Ghana vs. Nigeria. Buzz Ghana.</p> <a class="d-block mb-2" target="_blank" href="https://buzzghana.com/jollof-rice-war-ghana-vs-nigeria/">https://buzzghana.com/jollof-rice-war-ghana-vs-nigeria/</a>

      <p class="mb-0">3. Hadero, H. (2019). How Jollof rice became West Africa’s iconic dish and a point of banter between Africans. Quartz.</p> <a class="d-block mb-2" target="_blank" href="https://qz.com/africa/1689421/the-history-of-jollof-rice-in-west-africa-and-the-banter">https://qz.com/africa/1689421/the-history-of-jollof-rice-in-west-africa-and-the-banter</a>

      <p class="mb-0">4. Mubarik, A. (2017). Jollof war: How jollof rice is driving West Africans. Pulse Ghana.</p> <a class="d-block mb-2" target="_blank" href="https://www.pulse.com.gh/articles/ece-frontpage/jollof-war-how-jollof-rice-is-driving-west-africans-2024080120552667905">https://www.pulse.com.gh/articles/ece-frontpage/jollof-war-how-jollof-rice-is-driving-west-africans-2024080120552667905</a>

      <p class="mb-0">5. BBC News. (2014). Africans reject Jamie's Jollof rice recipe. BBC.</p> <a class="d-block mb-2" target="_blank" href="https://www.bbc.com/news/blogs-trending-29831183">https://www.bbc.com/news/blogs-trending-29831183</a>

      <p class="mb-0">6. Hagos, E. (2016). Jollof wars: A West African saga. Black Foodie.</p>  <a class="d-block mb-2" target="_blank" href="https://www.blackfoodie.co/jollof-wars-a-west-african-saga/">https://www.blackfoodie.co/jollof-wars-a-west-african-saga/</a>

      <a class="d-block mb-2" target="_blank" href="7- https://youtu.be/3XU4PNMzbQo">7- https://youtu.be/3XU4PNMzbQo</a>
      <br>
      <a class="d-block mb-2" target="_blank" href="8- https://youtu.be/OjdFrKic8AY?feature=shared">8- https://youtu.be/OjdFrKic8AY?feature=shared</a>
      <br>
      <a class="d-block mb-2" target="_blank" href="9-https://knelle66.over-blog.com/article-le-jus-ou-sauce-de-fondue-de-legumes-54094187.html">9-https://knelle66.over-blog.com/article-le-jus-ou-sauce-de-fondue-de-legumes-54094187.html</a>
      <br>
      <a class="d-block mb-2" target="_blank" href="10-https://www.instagram.com/p/Ci7_T7ko6Nm/?igsh=MW03c281aHh5cW92bw==">10-https://www.instagram.com/p/Ci7_T7ko6Nm/?igsh=MW03c281aHh5cW92bw==</a>
      <br>
      <a class="d-block mb-2" target="_blank" href="11- https://monfromagepeulh.fr/produit/fromage-peulh-wagashi-frais-x3/">11- https://monfromagepeulh.fr/produit/fromage-peulh-wagashi-frais-x3/</a>
      <br>
      <a class="d-block mb-2" target="_blank" href="12- https://youtu.be/_SS8Mu6um1I?feature=shared">12- https://youtu.be/_SS8Mu6um1I?feature=shared</a>
      <br>
      <a class="d-block mb-2" target="_blank" href="13- https://www.croq-kilos.com/actus/oignons-rouges-blancs-et-jaunes-quelles-differences">13- https://www.croq-kilos.com/actus/oignons-rouges-blancs-et-jaunes-quelles-differences</a>
      <br>
      <a class="d-block mb-2" target="_blank" href="14-https://www.alamy.com/stock-photo/ghanaian-jollof.html?sortBy=relevant">14-https://www.alamy.com/stock-photo/ghanaian-jollof.html?sortBy=relevant</a>
    </div>
  </section>

  <div class="Conclusion">
    <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="Conclusion">
      <div class="section-head">
        <h1 class="textxx">Conclusion</h1>
        
      </div>
    </section>
  </div>

  <section data-aos="zoom-in" class="container pt-5 min-vh-100">
    <p class="fs-3">Overall, food is more than a flavor; it's a language of power. It goes beyond nutrition; it may be weaponized and celebrated as a form of cultural currency, making it an undisputed tool for gastrodiplomacy. West African foods, such as Jollof rice, capture the essence of the continent's diversity, inventiveness, and tenacity. It can create opportunities for economic growth and convey soft power. </p>
    <p class="fs-3">West Africa’s gastrodiplomacy potential is subsequently evident in Jollof’s cultural sway and social media traction. The intraregional rivalries, like the Ghana-Nigeria Jollof debate or the Jollof Wars, prove the dish’s capacity to captivate global audiences and could hinder cohesive branding, yet intentional strategies and specific policy frameworks are needed to convert inadvertent influence from social media into lasting influence. So, West Africa’s opportunity lies in institutionalizing jollof as a diplomatic asset or a pillar of intentional soft power diplomacy through policy, education, and research.</p>
    <p class="fs-3">Studies on gastrodiplomacy in West Africa are scarce and contain limited empirical data; hence, scholars need to further research by conducting policy analyses of West African governments’ culinary strategies, comparative studies of lesser-known dishes and high-potential dishes, or longitudinal assessments of social media’s impact on soft power in order to strengthen both theoretical and practical applications of gastrodiplomacy in the region.</p>

  </section>